In [5]:
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [1]:
print("hello World")

hello World

In [3]:
print("Mary's cosmetics")

Mary's cosmetics

In [7]:
print("신씨가 소리질렀다. \"도둑이야\" ")
print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"
신씨가 소리질렀다. "도둑이야"

In [10]:
print("C:\\windows")

C:\windows

In [11]:
print("안녕하세여.\n만나서\t\t반갑습니다.")
# \n은 줄바꿈 \t는 탭

안녕하세여.
만나서		반갑습니다.

In [12]:
print ("오늘은", "일요일")

오늘은 일요일

In [14]:
print("naver;kakao;sk;samsung")
print("naver","kakao","sk","samsung",sep=";")

naver;kakao;sk;samsung
naver;kakao;sk;samsung

In [15]:
print("naver","kakao","sk","samsung",sep="/")

naver/kakao/sk/samsung

In [17]:
print("first", end="");print("second")

firstsecond

In [18]:
print(5/3)

1.6666666666666667

In [20]:
삼성전자 = 50000
삼성전자주식 = 10
평가금액 = 삼성전자*삼성전자주식
print(평가금액)

500000

In [25]:
시가총액 = "298조"
현재가 = "50,000원"
per = 15.79
print(시가총액)
print(현재가)
print(per)

298조
50,000원
15.79

In [31]:
s = "hello"
t = "python"
print(s+"! "+t)
print(s,"!",t)
print(s+"!",t)

hello! python
hello ! python
hello! python

In [37]:
num_str = "720"
type(int(num_str))
print(int(num_str))

720

In [36]:
num=100
num_str=str(num)
print(num_str, type(num_str))

100 <class 'str'>

In [40]:
str_num = "15.79"
f_num = float(str_num)
print(f_num,type(f_num))

15.79 <class 'float'>

In [41]:
year = "2020"
y = int(year)
print(y-1)
print(y-2)
print(y-3)

2019
2018
2017

In [45]:
m=48584
f=36
total=m*f
print(total)

1749024

In [54]:
letters= 'python'
print(letters[0],letters[2])

p t

In [62]:
license_plate = "24가 2210"
license_plate[4:]

'2210'

In [66]:
string = "홀짝홀짝홀짝"
string[0:6:2]
string[::2]

'홀홀홀'

In [67]:
string = "PYTHON"
string[::-1]

'NOHTYP'

In [69]:
phone_number = "010-1111-2222"
phone_number.replace("-"," ")   #.replace 메서드 사용 .replace("바꾸고 싶은 문자","바꿀 문자")

'010 1111 2222'

In [70]:
phone_number = "010-1111-2222"
phone_number.replace("-","")

'01011112222'

In [76]:
url = "http://sharebook.kr"
print(url[17:])
url.split(".")
print(url.split(".")[-1])

kr
kr

In [77]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

In [80]:
string = 'abcdfe2a354a32a'
string.replace("a","A")

abcdfe2a354a32a